.allDependencies    {
    margin: 15px;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(10, 80px);
    grid-template-columns: repeat(10, 1fr);
}

.allDependencies a  {
    color: rgb(59, 6, 59);
    text-decoration: none;
}

.geographical   {
    padding: 3%;
    grid-row: 7/10;
    grid-column: 5/10;
    border: 4px double rgb(61, 81, 194);
    border-radius: 10px;
    background-color: rgba(130, 189, 238, 0.7);
}

.interests   {
    padding: 3%;
    grid-row: 4/7;
    grid-column: 4/8;
    border: 4px double rgb(223, 203, 22);
    border-radius: 50%;
    background-color: rgba(221, 233, 57, 0.7);
}

.mind   {
    padding: 3%;
    grid-row: 1/6;
    grid-column: 8/10;
    border: 4px double rgb(112, 11, 112);
    border-radius: 5ch;
    background-color: rgba(238, 130, 238, 0.7);
}

.physical   {
    grid-row: 1/4;
    grid-column: 1/7;
    border: 4px double rgb(236, 17, 145);
    border-radius: 5pt;
    background-color: rgba(233, 141, 157, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    padding: 3%;
    grid-row: 5/10;
    grid-column: 1/4;
    border: 4px double rgb(5, 77, 29);
    border-radius: 7svh;
    background-color: rgba(73, 228, 93, 0.7);
}

@media (max-width: 768px)   {
    .allDependencies    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}