.menu   {
    padding: 5px;
    width: 95%;
    border: 3px double rgb(17, 204, 95);
    border-radius: 9ch;
    background-color: rgba(68, 112, 78, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    width: 100%;
    color: whitesmoke;
    text-decoration: none;
}

.menu li {
    width: 100%;
    list-style-type: none;
    display: inline-block;
}

.menu ul {
    margin: 0%;
    padding: 0%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px)   {
    .menu {
        width: 60%;
    }

    .menu li {
        padding: 0.5%;
    }

    .menu ul   {
        margin: 0%;
        padding: 0%;
        width: 100%;
        border-radius: 2ch;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        font-size: 30px;
    }
}