.menu   {
    padding: 10px;
    width: 95%;
    border: 3px double rgb(17, 204, 95);
    border-radius: 9ch;
    background-color: rgba(68, 112, 78, 0.8);
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
}

@media (max-width: 768px)   {
    .menu   {
        border-radius: 2ch;
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    .menu a {
        font-size: 30px;
    }
}