.geographical   {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.geographical>div   {
    margin: 1%;
    padding: 2%;
    width: 40%;
    border: 4px double rgb(20, 105, 233);
    border-radius: 5cqb;
    background-color: rgba(230, 150, 177, 0.7);
}

.title  {
    width: 90%;
}

@media (max-width: 768px)   {
    .geographical>div   {
        width: 90%;
    }
}