.footer {
    margin: 20px;
    font-size: 12px;
    color: rgb(102, 76, 12);
}

.footerContainer {
    padding: 4%;
    width: 91%;
    border: 3px double rgb(71, 133, 71);
    background-color: rgb(49, 177, 49);
}

.footerMenu a {
    color: rgb(7, 48, 7);
    text-decoration: none;
}

.footerMenu a:hover {
    color: whitesmoke;
}