a {
  margin: 5px;
}

a:hover {
  transform: scale(1.1);
  color: rgb(238, 219, 172);
  text-shadow: 2px 2px 2px black;
}

form{
  margin: 0 0 20px;
  padding: 7% 4% 2%;
  width: 50%;
  height: 900px;
  border: 4px ridge rgb(68, 189, 94);
  border-radius: 5px;
  background-color: rgb(108, 214, 108);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
  padding: 6px;
  width: 200px;
  border-radius: 5ch;
  color: white;
  background-color: rgb(78, 165, 78);
  box-shadow: 2px 2px 3px rgb(31, 54, 31);
}

form input  {
  margin: 5px 5px 10px;
  padding: 5px;
  border-radius: 5ch;
  width: 100%;
}

.App {
  margin: 0%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px double rgb(17, 133, 27);
  text-align: center;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(141, 209, 141);
}